* {
  box-sizing: border-box;
}

body {
  background-image: url('/resources/img/background.jpg')
}

header {
  text-align: center;
}

img {
  max-width: 100%;
}

.container-tile {
  margin: 0 auto 0 auto;
  border: 1px solid black;
  width: 50%;
  min-width: 280px;
  padding-bottom: 20px;
  background-color: #fff;
}

.container-tile h2 {
  text-align: center;
}

.stats {
  text-align: center;
}

.container-tile p span {
  padding-left: 12px;
}

.container {
  padding: 0 10% 0 10%;
}

.question {
  text-align: left;
}

.submit-button {
  margin: 20px auto 0 auto;
  width: 100%;
  padding: 8px;
}

.question-form {
  position: relative;
}

input[type="radio"] {
  width: 1000px;
  /* display: none; */
}

input[type="radio"]:checked {
  width: 500px;
}

.inputButton {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.2em;
  /* border: 1px solid black; */
  background-color: darkgreen;
  padding: 10px;
  opacity: 0.7
}

.inputButton:hover {
  opacity: 0.5;
  opacity: 1;
  border: 3px solid #55a301;
}

.inputButton:active {
  background-color:#640000;
  opacity: 1.0
}