* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'fade_awayregular';
  src: url('/resources/fonts/dinosaur-webfont.woff2') format('woff2'),
       url('/resources/fonts/dinosaur-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('/resources/img/background.jpg');
  padding-bottom: 4em;
}

header {
  text-align: center;
}

h1 {
  font-family: 'fade_awayregular';
  font-size: 3.5em;
  color: rgb(148, 44, 44);
}

img {
  max-width: 100%;
  max-height: 320px;
  /* display: flexbox; */
  /* justify-content: center; */

  margin: 0px auto 0px auto;
}

p {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-family: 'Lato', sans-serif;
}

fieldset {
  padding: 0;
  border: 0px;
}

.feedback-h2 {
  font-size: 3em;
  font-weight: bolder;
}

.imageHolder {
  margin: 0px auto 0px auto;
  /* border: 10px solid red; */
  text-align: center;
}

.container-tile {
  margin: 0 auto 0 auto;
  width: 50%;
  min-width: 280px;
  padding: 1em 0 3em 0;
  background-color: #fff;
  box-shadow: 8px 12px 7px 5px rgba(0, 0, 0, 0.4);
  border-radius: 12px;;
}

.container-tile h2 {
  text-align: center;
}

.container-tile p span {
  padding-left: 12px;
}

.container {
  padding: 0 10% 0 10%;
}

.question {
  text-align: left;
  font-size: 1.3em;
}

.submit-button {
  margin: 20px auto 0 auto;
  width: 100%;
  padding: 12px;
  background-color: royalblue;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  opacity: 0.8;
  border: 3px solid royalblue;
}

.submit-button:hover {
  opacity: 1;
  border: 3px solid skyblue;
}

.question-form {
  position: relative;
}

input[type="radio"] {
  display:none;
}

.inputButton {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.2em;
  background-color: darkgreen;
  padding: 10px;
  opacity: 0.8;
  border-radius: 5px;
  border: 3px solid darkgreen;
  margin-bottom: 5px;
}

.inputButton:hover, .inputButton:focus-within {
  opacity: 1;
  border: 3px solid #55a301;
}

.inputButton label {
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-around;

  font-size: 1em;
  color: #6e6d6c;
}

.depressed {
  background-color:#640000;
}

fieldset {
  width: 100%;
}